InstaProfileScraping.json
{
  "name": "InstaProfileScraping",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -48
      ],
      "id": "faf27840-d175-4550-9030-25bf3752ac5c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token=apify_api_cErzkcfvgUvOrj5hEmHM1xv7znfz1x4z03u4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"{{ $json.profile }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 5,\n    \"resultsType\": \"posts\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -48
      ],
      "id": "039a310b-e50a-4465-882f-1467be93c3f3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "inputUrl, type, caption, hashtags[0], url, likesCount, videoPlayCount",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        80,
        -48
      ],
      "id": "7ab89b8b-5f13-49ef-9304-de6ab106b071",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZZ4af_Q4KCxh44hGSk-HJVL6AiL31oIAshRrqu1NWhs",
          "mode": "list",
          "cachedResultName": "InstaProfileScraping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZZ4af_Q4KCxh44hGSk-HJVL6AiL31oIAshRrqu1NWhs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZZ4af_Q4KCxh44hGSk-HJVL6AiL31oIAshRrqu1NWhs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile URL": "={{ $json.inputUrl }}",
            "Type": "={{ $json.type }}",
            "Caption": "={{ $json.caption }}",
            "Hashtag": "={{ $json['hashtags[0]'] }}",
            "URL": "={{ $json.url }}",
            "Likes Count": "={{ $json.likesCount }}",
            "Video Play Count": "={{ $json.videoPlayCount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Profile URL",
              "displayName": "Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hashtag",
              "displayName": "Hashtag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Likes Count",
              "displayName": "Likes Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Play Count",
              "displayName": "Video Play Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        288,
        -48
      ],
      "id": "26a1ddf0-bfd0-4c2c-a04d-87c4253a1482",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JQCu8HvOnFbXVlqJ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "profile": "https://www.instagram.com/meta.ai?igsh=eW1nZWFob2F5c2F3"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40602e61-4b57-42f7-923c-dfc3345ea2b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "047fe216412f0ebc9a57aa8f7c01c308bfbc5dbfa76ef0a4c5441fbba3316542"
  },
  "id": "b6xLavSFb2oMsvis",
  "tags": []
}